<container>

<h1>Cocktailmania</h1>


<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail.id) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x400/?<%= cocktail.name %>)">
        <h2><%= cocktail.name %></h2>
        <p><%= cocktail.description %></p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Add your own cocktail", new_cocktail_path %>

</container>


